.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* Add space between the middle and bottom rows */
.columns > div:nth-of-type(2) {
  margin-bottom: 32px; /* Adjust the value as needed */
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  /* Ensure the added margin is not too large on wider screens */
  .columns > div:nth-of-type(2) {
    margin-bottom: 32px; /* Adjust if necessary */
  }
}
